body {
	background-color: #f4f4f4;
	color: brown;
}

.output{
	display: flex;
	flex-direction: row;
}

.card{
	margin: 25px;
	width: 200px;
	display: inline-block;
	border: 2px solid black;

}

.delete{
	top: 220px;
	justify-content: center;
}

 